@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

:root {
  --primary-color: rgb(241, 240, 240);
  --secondary-color: rgb(204, 41, 136);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: var(--primary-color);
}
nav{
  height: 5rem;
  background-color: var(--primary-color);
}
.nav-heading {
  color: black;
  text-align: center;
  padding-top: 1.6rem;
  font-size: 2rem;
}
main {
  height: 480px;
  max-width: 450px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  width: 100%;
  margin: auto;
}
.main-heading {
  text-align: center;
  padding-top: 2.5rem;
  margin-top: 3rem;
}

.input-label{
  display: block;
  font-weight: 500;
  font-size: 1.3rem;
  margin-left: 5rem ;
  margin-top: 2rem;

}
input {
  display: block;
  max-width: 300px;
  width: 90%;
  padding: 0.7rem 1rem;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid rgb(204, 41, 136);
  border: 1px solid rgb(0, 0, 0);
  outline: none;
  margin: 1rem auto;
}
.btn {
  background-color: rgb(182, 24, 108);
  padding: 0.7rem 1rem;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  margin: auto;
  display: block;
  max-width: 300px;
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
  letter-spacing: 2.5px;
}
.btn:hover {
  background-color: rgb(182, 0, 97);
}

.output {
  display: block;
  margin: auto;
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 5px;
}

/* --------------------FOOTER  --------------------*/

footer {margin-top: 2rem;
  height: 8rem;
  background-color: var(--primary-color);
}

footer p {
  margin-top: 2.5rem;
  padding-top: 1.5rem;
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
}
li {
  display: inline;
}

img {
  width: 3.7rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

@media (max-width: 425px) {
  nav{
    height:5.5rem ;
  }
  .nav-heading {
    
    padding-top: 1.38rem;
    font-size: 1.5rem;
  }
  img {
    height: 3rem;
    margin-right: 0.1rem;
  }
  nav h1 {
    letter-spacing: 3px;
    font-size: 1.4rem;
    padding-top: 2rem;
  }
  header h1 {
    font-size: 1.3rem;
    margin: 2.3rem;
    padding-top: 1.4rem;
  }
}
